html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #456386 url('bcg_blue.jpg') top left repeat-x;
  color: #f3f3f3;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 30px;
  height: 100%;
}

#info {
  font-size: 15px;
  position: absolute;
  bottom: 0px;
  background-color: rgba(0,0,0,0.8);
  border-radius: 15px,0px,0px,0px;
  right: 0px;
  padding: 15px;
}

a {
  color: #aaa;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.bull {
  padding: 0 5px;
  color: #555;
}

#description {
  color: #ffffff;
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 15px;
  z-index:1;
  text-align: center;
}
